.Feed-container {
  width: 100vw;
}

.Feed-snippetDisplayWrapper {
  flex-basis: 60%;
}
@media only screen and (max-width: 1000px) {
  .Feed-snippetDisplayWrapper {
    flex-basis: 100%;
  }
}

.FeedWriteNewSnippetButton-container {
  position: fixed;
  background-color: var(--primary--dark);
  height: 10vh;
  width: 10vh;
  bottom: 5vh;
  right: 5vh;
  border-radius: 50%;
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.4);
}

.FeedWriteNewSnippetButton-icon {
  height: 60%;
}
