.Landing-container {
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.Landing-header {
  font-family: "EB Garamond", serif;
  font-size: 108px;
  margin-bottom: var(--m);
}

.Landing-subheader {
  font-size: 40px;
}

.Landing-actionBox {
  margin-top: var(--xxl);
  gap: var(--m);
}

.Landing-continue {
  font-size: 20px;
}
