.Profile-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.Profile-personalInfoContainer {
  width: 30vw;
  height: 100%;
  gap: var(--s);
}

.Profile-snippetDisplayWrapper {
  width: 60vw;
}

@media only screen and (max-width: 1000px) {
  .Profile-container {
    flex-direction: column;
    width: 100vw;
  }
  .Profile-container > * {
    width: 100%;
  }
}

.Profile-name {
  font-size: var(--xxl);
  text-align: center;
}

.Profile-bio {
  font-size: var(--m);
  color: var(--darkgrey);
}

.ProfileContent-container {
  position: relative;
  top: 150px;
  width: 60vw;
}

.ProfileContent-separator {
  color: var(--lightgrey);
  margin: 0;
}

.Profile-picture {
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
}

.Profile-friendsDisplayBox {
  width: 60%;
  margin: var(--s);
  box-sizing: border-box;
}

.Profile-friendsHeader {
  font-size: var(--m);
  margin-bottom: var(--s);
}

.Profile-friendsHeader:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Profile-smallProfileDisplayBox {
  gap: var(--s);
  flex-wrap: wrap;
}

.Profile-friends {
  font-size: var(--m);
  color: var(--medgrey);
}

.Profile-smallProfilePic {
  border-radius: 50%;
  width: var(--xl);
  height: var(--xl);
  object-fit: cover;
}

.Profile-smallProfilePic:hover {
  cursor: pointer;
}

.ProfileCard-container {
  gap: var(--m);
}

.ProfileCard-friendName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.FollowButton {
  margin: var(--m) 0;
  padding: var(--xs) var(--s);
  border-radius: var(--xs);
  outline: 1px solid var(--primary--dim);
  background-color: var(--primary--light);
}

.FollowButton:hover {
  filter: brightness(0.95);
}

.FollowButton > span {
  color: var(--primary--dark);
}

.FollowButton:has(.Loading) {
  display: none;
}
