.Icon-wrapper {
  height: 24px;
  width: 24px;
  position: relative;
  padding: 0;
}

.ThreadReader-iconBar .Icon-wrapper {
  height: 36px;
  width: 36px;
}

.Icon {
  height: 24px;
  width: 24px;
}

.Icon:hover {
  cursor: pointer;
}

.ThreadReader-iconBar .Icon {
  height: 36px;
  width: 36px;
}

.Icon-tooltip {
  position: absolute;
  border-radius: var(--xs);
  width: max-content;
  padding: var(--xs) var(--s);
  bottom: 120%;
  background: rgb(34, 35, 33);
  color: white;
  text-align: center;
  filter: none;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 16px;
}

.ThreadReader-iconBar .Icon-tooltip {
  font-size: 24px;
}

.Icon-wrapper .Icon:hover + .Icon-tooltip {
  display: block;
  opacity: 1;
}
