.ModalBackground-container {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
}

.ModalBackground-closeButton {
  font-size: var(--xxl);
  font-weight: 500;
  position: fixed;
  top: var(--l);
  right: var(--l);
  cursor: pointer;
}

.ModalBackground-readerWriterWrapper {
  width: 60vw;
  height: 100vh;
  gap: var(--m);
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--s);
}

@media only screen and (max-width: 1000px) {
  .ModalBackground-readerWriterWrapper {
    width: 100vw;
  }
}
