input[type="text"] {
  background: transparent;
  font-family: inherit;
  font-weight: inherit;
  flex: 1;
  font-size: 2vh;
  padding: var(--l) var(--m);
  border: none;
  outline: none;
}

#SearchBar {
  background-color: var(--primary--dim);
  padding: var(--m);
  width: 100%;
  height: 10%;
  border-radius: 6vh;
  display: flex;
  margin: 2vh 0;
}
