.SingleSnippet-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--m);
  margin-top: var(--m);
  padding: var(--s);
}

.SingleSnippet-iconBar {
  gap: var(--s);
}

.SingleSnippet-container:first-of-type {
  margin-top: var(--l);
}

.SingleSnippet-story {
  padding: var(--m) var(--l);
}

.SingleSnippet-authorName {
  cursor: pointer;
}

.SingleSnippet-profilePic {
  border-radius: 50%;
  border: 2px solid black;
  height: var(--xxl);
  width: var(--xxl);
}

.SingleSnippet-profilePic:hover {
  cursor: pointer;
}

.TreeViewSnippet-container {
  background-color: white;
  position: absolute;
  border-radius: var(--m);
  padding: var(--s);
}

.SingleSnippet-authorInfo {
}
