.SingleSnippet-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--m);
  margin-top: var(--m);
  padding: var(--s) var(--s) var(--xs) var(--s);
  max-height: 30vh;
}

.SingleSnippet-displayBox {
  width: 100%;
}

.SingleSnippet-contentBox {
  margin-left: var(--xs);
  overflow-wrap: break-word;
  overflow-y: hidden;
  hyphens: auto;
  white-space: pre-wrap;
  mask: linear-gradient(white 20vh, transparent);
  flex-grow: 1;
}

.TreeViewSnippet-container .SingleSnippet-contentBox {
  mask: linear-gradient(white 70%, transparent);
}

.SingleSnippet-iconBar {
  gap: var(--s);
}

.SingleSnippet-container:first-of-type {
  margin-top: var(--l);
}

.SingleSnippet-story {
  padding: var(--m) var(--l);
}

.SingleSnippet-authorName {
  cursor: pointer;
  text-align: center;
}

.SingleSnippet-profilePic {
  border-radius: 50%;
  height: var(--xxl);
  width: var(--xxl);
}

.SingleSnippet-profilePic:hover {
  cursor: pointer;
}
