.SingleSnippet-container {
  border-top: var(--lightgrey) 1px solid;
  padding: var(--s) var(--s) var(--xs) var(--s);
  max-height: 30vh;
  min-height: 100px;
}

.SingleSnippet-displayBox {
  width: 100%;
}

.SingleSnippet-contentBox {
  margin-left: var(--xs);
  max-width: 100%;
  overflow-wrap: anywhere;
  overflow-y: hidden;
  hyphens: auto;
  white-space: pre-wrap;
  mask: linear-gradient(white 17vh, transparent);
  flex-grow: 1;
}

.TreeViewSnippet-container .SingleSnippet-contentBox {
  mask: linear-gradient(white 70%, transparent);
}

.SingleSnippet-iconBar {
  gap: var(--s);
}

.SingleSnippet-container:last-of-type {
  border-bottom: var(--medgrey) 1px solid;
}

.SingleSnippet-story {
  padding: var(--m) var(--l);
}

.SingleSnippet-authorInfo {
  gap: var(--xs);
  margin-right: var(--xs);
}

.SingleSnippet-authorInfo {
  --width: 110px;
  flex-basis: var(--width);
  max-width: var(--width);
}

.SingleSnippet-authorName {
  max-width: 100%;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SingleSnippet-profilePic {
  border-radius: 50%;
  height: var(--xxl);
  width: var(--xxl);
  object-fit: cover;
}

.SingleSnippet-profilePic:hover {
  cursor: pointer;
}

.SingleSnippet-likes {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darkgrey);
}
