.SnippetDisplay-pageBar {
  gap: var(--s);
}

.SnippetDisplay-snippetContainer {
  width: 100%;
  margin-bottom: var(--s);
}
.SnippetDisplay-snippetAndPageBarWrapper {
  padding-right: var(--m);
  margin-bottom: 15vh;
}

@media only screen and (max-width: 1000px) {
  .SnippetDisplay-snippetAndPageBarWrapper {
    padding: 0;
  }
}

.PageBarNumber {
  padding: var(--xs);
  background-color: transparent;
  border-radius: var(--xs);
}

.PageBarNumber:hover {
  outline: 1px solid var(--medgrey);
  background-color: var(--primary);
}
