.TreeViewSnippetWriter-container {
  width: 30%;
  background-color: white;
}

.TreeViewSnippetWriter-header {
  width: 300px;
}

.TreeViewSnippetWriter-textbox {
  width: 85%;
  height: 70%;
  margin: 0px 0px 16px;
}

.TreeViewSnippetWriter-postButton {
  width: 85%;
  padding: 8px;
}
