.WriteNewSnippet-container {
  background-color: white;
  padding: var(--m);
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--s);
  gap: var(--m);
}
.WriteNewSnippet-textbox {
  resize: none;
  height: 20vh;
  font-family: inherit;
  font-weight: inherit;
  font-size: var(--l);
  padding: 0;
  border: none;
  outline: none;
}

.WriteNewSnippet-postButton {
  font-family: inherit;
  font-size: var(--l);
  padding: var(--s);
}
